<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Valorant</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" href="../img/logodevalorant.png">
    <link rel="stylesheet" href="../css/style.videojocs1.css">
</head>
<body>
  <header>
    <div class="containerheader">
        <div>
          <nav class="navbar navbar-expand-lg bg-body-tertiary">
              <div class="container-fluid">
                <a class="navbar-brand" href="../index.html"><i class="bi bi-controller"></i></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                  <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="./videojoc1.html">Mario Bross</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="./videojoc2.html">Sonic</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="./videojoc3.html">Fornite</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="./videojoc4.html">Apex Legends</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="./videojoc5.html">Valorant</a>
                      </li>
                    </ul>
                  </div>
              </div>
            </nav>
        </div>
    </div>
</header>
<main>
    <section class="containerprincipalfondo5">
        <div class="containerprincipal5">
          <div class="cuadrado">
            <div class="cuadradodentro">
              <h3>Valorant</h3>
              <p>Valorant es un hero shooter primera persona multijugador gratuito desarrollado y publicado por Riot Games. El juego se anunció por primera vez con el nombre en clave Project A en octubre de 2019. Fue lanzado para Microsoft Windows el 2 de junio de 2020 después de su beta cerrada lanzada el 7 de abril de 2020. Valorant se inspira en la serie de videojuegos de disparos táctico Counter-Strike y toma prestadas varias mecánicas, como el menú de compra, los patrones de spray y la imprecisión al moverse.</p>
              <p>Jett: Una Duelista ágil con habilidades centradas en la movilidad y el sigilo. <br>
                Phoenix: Un Duelista que puede controlar el fuego y curarse a sí mismo. <br>
                Sova: Un Iniciador con habilidades para rastrear y detectar enemigos a larga distancia. <br>
                Brimstone: Un Controlador que puede desplegar humo, fuego y lluvia orbital para controlar el campo de batalla. <br>
                Cypher: Un Sentinela especializado en vigilancia y recopilación de información a través de cámaras y trampas. <br>
                Omen: Un Controlador que puede teleportarse y oscurecer la visión de los enemigos con su habilidad sombría. <br>
                Sage: Una Sentinela que puede curar a sus aliados y bloquear el paso de los enemigos con su pared de hielo.</p>
            </div>
          </div>
          <div class="cuadradodentro">
            <div>
                <div id="Top">
                    <form id="cuadrado" action="#" method="post">
                        <div class="supermariocaratula2">
                            <img src="../img/valorantcaratula.jpg" alt="Valorant">
                            <iframe class="youtubevideo" src="https://www.youtube.com/embed/DhtTTzBnX54?si=Oa4HtMyciNYxwhoU&amp;start=7" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <div id="fondo1">
                            <p id="fondotexto">Gratis 
                              <a href="https://store.epicgames.com/es-ES/p/valorant"><img src="../img/epicgames.png" alt="amazon"></a>
                              <a href="https://playvalorant.com/es-es/"><img src="../img/logodevalorant.png" alt="valorantriot"></a>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
<footer>
  <p>Erick Gutierrez y Alexandra Rodriguez</p>
</footer>
</body>
</html>