<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sonic The Hedgehog</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" href="./img/logogame.png">
    <link rel="icon" type="image/png" href="../img/Sonic-the-Hedgehog-English-logo.png">
    <link rel="stylesheet" href="../css/style.videojocs2.css">
</head>
<body>
    <header>
        <div class="containerheader">
            <div>
              <nav class="navbar navbar-expand-lg bg-body-tertiary">
                  <div class="container-fluid">
                    <a class="navbar-brand" href="../index.html"><i class="bi bi-controller"></i></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                      <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                          <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="./videojoc1.html">Mario Bross</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="./videojoc2.html">Sonic</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="./videojoc3.html">Fornite</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="./videojoc4.html">Apex Legends</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="./videojoc5.html">Valorant</a>
                          </li>
                        </ul>
                      </div>
                  </div>
                </nav>
            </div>
        </div>
    </header>
    <main>
        <section class="containerprincipalfondo1">
            <div class="containerprincipal1">
              <div class="cuadrado">
                <div class="cuadradodentro">
                  <h3>Sonic</h3>
                  <p>Sonic the Hedgehog es una serie de juegos de video publicados por Sega. Sonic Team, una filial de Sega, ha desarrollado la mayoría de los juegos, aunque empresas como Dimps, Traveller's Tales, y Sega Studio USA han desarrollado también algunos títulos. La serie comenzó en 1991 con Sonic the Hedgehog para la Mega Drive. Más juegos fueron lanzados para la propia Sega Mega Drive, Sega Game Gear, Master System, Sega Pico, Sega Saturn y Dreamcast hasta que Sega dejó de fabricar consolas.                  </p>
                </div>
              </div>
              <div class="cuadradodentro">
                <div>
                    <div id="Top">
                        <form id="cuadrado" action="#" method="post">
                            <div class="supermariocaratula2">
                                <img src="../img/soniccaratula.jpg" alt="soniccaratula">
                                <iframe class="youtubevideo" src="https://www.youtube.com/embed/Gsa_4s3CjmI?si=Erx9C_6b6LdIM0fI&amp;start=6" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                            </div>
                            <div id="fondo1">
                                <p id="fondotexto">Gratis <a href="https://play.google.com/store/apps/details?id=com.sega.sonic1px&hl=es&gl=US&pli=1"><img src="../img/logogoogleplay+.png" alt="googleplay"></a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <table>
              <thead>
                <tr>
                  <th>Personajes</th>
                  <th>Diseño</th>
                  <th>Descripción</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Sonic</td>
                  <td><img src="../img/Sonic.png" alt=""></td>
                  <td>El protagonista principal y el personaje titular de la serie. Sonic es un erizo azul rápido y valiente que lucha contra el malvado Dr. Robotnik (también conocido como Dr. Eggman) para proteger el mundo. </td>
                </tr>
                <tr>
                  <td>Miles "Tails" Prower</td>
                  <td><img src="../img/Talis.png" alt="Luigi"></td>
                  <td>Un zorro de dos colas y el mejor amigo de Sonic. Tails es un ingeniero talentoso y tiene la habilidad de volar usando sus dos colas.</td>
                </tr>
                <tr>
                  <td>Knuckles the Echidna</td>
                  <td><img src="../img/knuckles.png" alt="Peach"></td>
                  <td>Un equidna rojo y musculoso que es el guardián de la Master Emerald. A menudo es engañado por Dr. Robotnik para enfrentarse a Sonic, pero finalmente se convierte en un aliado.</td>
                </tr>
              </tbody>
            </table>
        </section>
    </main>
    <footer>
      <p>Erick Gutierrez y Alexandra Rodriguez</p>
    </footer>
</body>
</html>