<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fortnite</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" href="../img/fornite.jpeg">
    <link rel="stylesheet" href="../css/style.videojocs3.css">
</head>
<body>
    <header>
      <div class="containerheader">
        <div>
          <nav class="navbar navbar-expand-lg bg-body-tertiary">
              <div class="container-fluid">
                <a class="navbar-brand" href="../index.html"><i class="bi bi-controller"></i></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                  <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="./videojoc1.html">Mario Bross</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="./videojoc2.html">Sonic</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="./videojoc3.html">Fornite</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="./videojoc4.html">Apex Legends</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="./videojoc5.html">Valorant</a>
                      </li>
                    </ul>
                  </div>
              </div>
            </nav>
        </div>
    </div>
</header>
<main>
    <section class="containerprincipalfondo3">
        <div class="containerprincipal3">
          <div class="cuadrado">
            <div class="cuadradodentro">
              <h3>Fortnite</h3>
              <p> Fortnite comenzó como un game jam en Epic Games tras la publicación de Gears of War 3 en torno al 2011. Aunque no fue uno de los primeros títulos desarrollados durante el jam, surgió el concepto de fusionar el género de juegos de construcción, representando videojuegos como Minecraft y Terraria, y videojuegos de disparos, llevando a la creación de Fortnite, es un videojuego del año 2017 desarrollado por la empresa Epic Games lanzado como diferentes paquetes de software que presentan seis diferentes modos de juego, pero que comparten el mismo motor de juego y mecánicas. </p>
              <p>Jonesy: Un personaje básico que aparece en varias versiones diferentes. <br>
                Raven: Conocido por su aspecto oscuro y misterioso. <br>
                Fishstick: Un personaje divertido con apariencia de pez. <br>
                Drift: Con su máscara de kitsune y su estilo callejero. <br>
                Renegade Raider: Una skin rara que muestra a una guerrera lista para la batalla. <br>
                Peely: Un plátano con personalidad y mucho humor. <br>
                Cuddle Team Leader: Una skin que representa a un oso de peluche rosa. <br>
                Dark Voyager: Con su traje futurista y su aspecto intimidante.</p>
            </div>
          </div>
          <div class="cuadradodentro">
            <div>
                <div id="Top">
                    <form id="cuadrado" action="#" method="post">
                        <div class="supermariocaratula2">
                            <img src="../img/fornitecaratula.jpg" alt="fornitecaratula">
                            <iframe class="youtubevideo" src="https://www.youtube.com/embed/d0P2JaM8M4M?si=FALnOIbsNuWE-4U3&amp;start=7" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen=""></iframe>
                        </div>
                        <div id="fondo1">
                            <p id="fondotexto">Gratis 
                              <a href="https://www.fortnite.com/"><img src="../img/fornite.jpeg" alt="amazon">
                              <a href="https://store.epicgames.com/es-ES/p/fortnite"><img src="../img/epicgames.png" alt="amazon"></a>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
<footer>
    <p>Erick Gutierrez y Alexandra Rodriguez</p>
</footer>
</body>
</html>