<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apex Legends</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" href="./img/logogame.png">
    <link rel="icon" type="image/png" href="../img/mariosupermariobros.png">
    <link rel="stylesheet" href="../css/style.videojocs1.css">
</head>
<body>
  <header>
  <div class="containerheader">
    <div>
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
          <div class="container-fluid">
            <a class="navbar-brand" href="../index.html"><i class="bi bi-controller"></i></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="./videojoc1.html">Mario Bross</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./videojoc2.html">Sonic</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./videojoc3.html">Fornite</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./videojoc4.html">Apex Legends</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./videojoc5.html">Valorant</a>
                  </li>
                </ul>
              </div>
          </div>
        </nav>
    </div>
</div>
</header>
<section class="containerprincipalfondo">
  <div class="containerprincipal  ">
    <div class="cuadrado">
      <div class="cuadradodentro">
        <h3>Apex Legends</h3>
        <p>Mario Bros es un videojuego de plataformas desarrollado por Nintendo. El juego sigue las aventuras de Mario, un fontanero italiano, y su hermano Luigi, mientras atraviesan varios mundos para rescatar a la Princesa Peach del malvado Bowser, el rey de los Koopas. Los jugadores deben saltar sobre enemigos, esquivar obstáculos y recoger monedas a lo largo de los niveles para avanzar y enfrentarse a Bowser en su castillo.</p>
      </div>
    </div>
    <div class="cuadradodentro">
      <div>
          <div id="Top">
              <form id="cuadrado" action="#" method="post">
                  <div class="supermariocaratula2">
                      <img src="../img/supermariocaratula.jpg" alt="">
                      <iframe class="youtubevideo" src="https://www.youtube.com/embed/_2uTia2bJJw?si=l0QRYxPPSPxMq5cg&amp;start=3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                  </div>
                  <div id="fondo1">
                      <p id="fondotexto">
                        59,99€ 
                        <a href="https://www.ea.com/es-es/games/apex-legends"><img src="../img/apexlegends.png" alt="apex-legends"></a>
                        <a href="https://www.fortnite.com/@zengakkoseitoka/2965-4065-2991"><img src="../img/epicgames.png" alt="epicgames"></a>
                        <a href="https://store.steampowered.com/app/1172470/Apex_Legends/?l=latam"><img src="../img/steam.png" alt=""></a>
                      </p>
                      <p><button href="#">Añadir </button></p>
                  </div>
              </form>
          </div>
      </div>
  </div>
</section>
</main>
<footer>

</footer>
</body>
</html>